# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\KOJIMA\script_segmentation_murata\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
